
.hamburger {
	padding: 15px 15px;
	display: inline-block;
	cursor: pointer;
	border: 0;
  outline: none;
  background-color: rgba(90, 83, 83, 0.233);

	&:hover {
		opacity: 0.7;
	}

  &-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
  }
}


.hamburger-inner, 
.hamburger-inner::before, 
.hamburger-inner::after {
  display: block;
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; 
}

.hamburger-inner {
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

  &::before {
    content: "";
    top: -10px; 
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  &::after {
    content: "";
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
  }
}


.is-active {
	.hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		&::after {
			top: 0;
			opacity: 0;
			transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
		}
		&::before {
			top: 0;
			transform: rotate(-90deg);
			transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
		}
	}
}