
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lora', serif;
} 

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.header__wrapper {
  min-height: 100vh;
  background-image: url(../images/sr1.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

/* hero overlay */

.header__wrapper::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: hsla(180, 12%, 13%, 0.911);
  opacity: .4;
  z-index: -1;
}

/* header content */
.header__hero {
  padding: 100px 10px 0 10px;
  text-align: center;
  color: #fff;
}

.header__hero-heading {
  margin-top: 60px;
}

.header__hero-heading-main {
  letter-spacing: 2px;
  word-spacing: 4px;
}

.header__hero-heading-sub {
  display: block;
  padding-top: 20px;
  font-size: .6em;
  font-weight: normal;
}

.header__hero-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  position: absolute;
  bottom: 50px;
  left: 60px;
  z-index: 10;
}

.header__hero-quote::after {
  content: '';
  position: absolute;
  left: -35px;
  top: 10px;
  height: 85%;
  width: 75%;
  border: 4px solid rgba(179, 167, 167, 0.705);
  border-right: transparent;
  z-index: -1;
}

.header__hero-quote-motivational {
  font-size: 2em;
  padding: 10px;
}

.header__hero-quote-motivational::after {
  content: '';
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.089);
  z-index: -10;
}

.header__hero-quote-motivational-sub {
  display: block;
}

@media (min-width: 640px) {
  .header__hero-heading-main {
    font-size: 1.5em;
  }
  .header__hero-quote {
    font-size: 1.4em;
  }
}

@media (min-width: 1024px) {
  .header__hero-heading-main {
    font-size: 1.8em;
  }

  .header__hero-heading-sub {
    font-size: .8em;
  }
  .header__hero-quote {
    font-size: 1.7em;
  }
}


/* section two*/
.main-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: rgb(233, 222, 222);
}

.page__two {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(56, 51, 51);
}

.page__two-heading {
  margin: 20px 0 30px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.page__two-subheading {
  color: rgb(156, 78, 143);
}
.page__two-img {
  height: auto;
  width: 100%;
}

.page__two-description {
  padding: 30px 20px 20px 20px;
}

.subhead::first-letter {
  font-size: 22px ;
  font-weight: 700;
  color: rgb(145, 44, 128);
}

/* button */

.btn {
  display: inline-block;
  margin-top: 20px;
  height: 34px;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
	position: relative;
}

.btn span {
  transition: all .3s;
}

.btn::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 12;
  opacity: 0;
  transition: all .3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  transform: scale(0.1, 1);
}

.btn:hover span {
  letter-spacing: 4px;
}

.btn:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all .3s;
}

.btn:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}


/* btn one */

.btn-one::before {
  border-top-color: rgba(56, 51, 51, 0.5);
  border-bottom-color: rgba(56, 51, 51, 0.5);
}

.btn-one::after {
  background-color: rgba(104, 94, 94, 0.1);
}

.btn-one {
  color: rgb(56, 51, 51);
}
