* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-container {
  min-height: 100vh;
  background-image: url(../images/sr1.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.header-container::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(29, 37, 37, 0.911);
  opacity: .4;
  z-index: -1;
}

.header {
  min-height: 80vh;
  max-width: 1110px;
  margin: 0 auto;
  padding: 20px 10px 0 10px;
  text-align: center;
  color: #fff;
  position: relative;
}

.header__heading {
  margin-top: 60px;
}

.header__heading-main {
  letter-spacing: 2px;
  word-spacing: 4px;
}

.header__heading-sub {
  display: block;
  padding-top: 20px;
  font-size: .6em;
  font-weight: normal;
}

.header__quote {
  position: absolute;
  bottom: 50px;
  left: 60px;
  padding: 30px;
  line-height: 60px;
  text-transform: uppercase;
  z-index: 10;
}

.header__quote::after {
  content: '';
  position: absolute;
  left: -35px;
  top: 10px;
  height: 85%;
  width: 75%;
  border: 4px solid rgba(179, 167, 167, 0.705);
  border-right: transparent;
  z-index: -1;
}

.header__quote-text {
  font-size: 1.5em;
  padding: 10px;
}

.header__quote-text-sub {
  display: block;
}

.header__quote-text::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.089);
  z-index: -10;
}

@media (min-width: 640px) {
  .header__heading-main {
    font-size: 1.5em;
  }
  .header__quote {
    font-size: 1.4em;
  }
}

@media (min-width: 1024px) {
  .header__heading-main {
    font-size: 1.8em;
  }
  .header__heading-sub {
    font-size: .8em;
  }
  .header__quote {
    font-size: 1.7em;
  }
}

/* SECTION INTRO */
.main-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 24px 0 24px;
}

.intro__passion {
  max-width: 541px;
  margin: 0 auto;
  line-height: 25px;
  text-align: center;
}

.intro__passion-heading {
  margin: 70px 0 50px 0;
  font-weight: 200;
  line-height: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.intro__passion-heading span {
  color: #9c4e8f;
}

.intro__passion-description {
  padding-bottom: 50px;
  opacity: .5;
}

.intro__atmosphere-img {
  width: 100%;
  max-width: 770px;
  z-index: -1;
}

.intro__atmosphere__text {
  margin: auto;
  max-width: 541px;
  line-height: 25px;
  text-align: center;
}

.intro__atmosphere__text-heading {
  padding: 70px 0 50px 0;
  font-weight: 200;
  line-height: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.intro__atmosphere__text-heading span {
  color: #9c4e8f;
}

.intro__atmosphere__text-description {
  padding-bottom: 50px;
  opacity: .5;
}

@media (min-width: 738px) {
  .intro__atmosphere {
    position: relative;
  }
  .intro__atmosphere-img {
    margin-right: 0;
    margin-left: auto;
    display: block;
  }
  .intro__atmosphere__text {
    position: absolute;
    bottom: -300px;
    left: 0;
    padding: 50px 40px 50px 96px;
    text-align: start;
    background-color: #fff;
  }
  .feedback__heading {
    margin-top: 280px;
  }
}

/* SECTION FEEDBACK */
.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback__heading {
  padding: 20px 0 50px 0;
  font-weight: 200;
  line-height: 30px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.feedback__heading span {
  color: #9c4e8f;
}

.feedback__img {
  width: 100%;
  max-width: 400px;
}

.feedback__text {
  padding: 40px 40px 0 40px;
  line-height: 20px;
  text-align: center;
  background-color: #f7f0f0;
}

.feedback__text-description {
  opacity: .5;
}

.feedback__text-author {
  padding: 15px 0 30px 0;
  text-align: right;
}

.feedback__text-author-link {
  text-decoration: none;
  letter-spacing: 1px;
  color: #964789;
  border-bottom: 1.8px solid rgba(179, 137, 137, 0.089);
  cursor: pointer;
}

@media (min-width: 440px) {
  .feedback {
    position: relative;
  }
  .feedback__img {
    margin-bottom: 200px;
  }
  .feedback__text {
    position: absolute;
    right: 0;
    bottom: 100px;
    max-width: 300px;
    padding-top: 60px;
    text-align: start;
    line-height: 25px;
  }
}

@media (min-width: 738px) {
  .feedback__text {
    max-width: 400px;
  }
}

@media (min-width: 1024px) {
  .feedback__text {
    max-width: 500px;
  }
}

/* BUTTON */
.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.btn {
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  min-width: 100px;
  border: 1px solid transparent;
  padding: 8px 20px 12px 20px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.btn::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 12;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  -webkit-transform: scale(0.1, 1);
          transform: scale(0.1, 1);
}

.btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn:hover {
  letter-spacing: 4px;
  cursor: pointer;
}

.btn:hover::before {
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.btn:hover::after {
  opacity: 0;
  -webkit-transform: scale(0.1, 1);
          transform: scale(0.1, 1);
}

/* btn primary */
.btn-primary {
  margin-top: 24px;
  color: #383333;
}

.btn-primary::before {
  border-top-color: rgba(56, 51, 51, 0.5);
  border-bottom-color: rgba(56, 51, 51, 0.5);
}

.btn-primary::after {
  background-color: rgba(104, 94, 94, 0.1);
}
/*# sourceMappingURL=style.css.map */