
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
} 

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


// HEADER HERO

.header-container {
  min-height: 100vh;
  background-image: url(../images/sr1.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: hsla(180, 12%, 13%, 0.911);
    opacity: .4;
    z-index: -1;
  }
}

.header {
  min-height: 80vh;
  max-width: 1110px;
  margin: 0 auto;
  padding: 20px 10px 0 10px;
  text-align: center;
  color: #fff;
  position: relative;

  &__heading {
    margin-top: 60px;

    &-main {
      letter-spacing: 2px;
      word-spacing: 4px;
    }

    &-sub {
      display: block;
      padding-top: 20px;
      font-size: .6em;
      font-weight: normal;
    }
  }

  &__quote {
    position: absolute;
    bottom: 50px;
    left: 60px;
    padding: 30px;
    line-height: 60px;
    text-transform: uppercase;
    z-index: 10;

    &::after {
      content: '';
      position: absolute;
      left: -35px;
      top: 10px;
      height: 85%;
      width: 75%;
      border: 4px solid rgba(179, 167, 167, 0.705);
      border-right: transparent;
      z-index: -1;
    }

    &-text {
      font-size: 1.5em;
      padding: 10px;

      &-sub {
        display: block;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.089);
        z-index: -10;
      }
    }
  }
}

@media (min-width: 640px) {
  .header__heading-main {
    font-size: 1.5em;
  }
  .header__quote {
    font-size: 1.4em;
  }
}

@media (min-width: 1024px) {
  .header__heading-main {
    font-size: 1.8em;
  }

  .header__heading-sub {
    font-size: .8em;
  }
  .header__quote {
    font-size: 1.7em;
  }
}


/* SECTION INTRO */

.main-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 24px 0 24px;
}


.intro {

  // first part 

  &__passion {
    max-width: 541px;
    margin: 0 auto;
    line-height: 25px;
    text-align: center;
  

    &-heading {
      margin: 70px 0 50px 0;
      font-weight: 200;
      line-height: 30px;
      letter-spacing: 2px;
      text-transform: uppercase;
  
      & span {
        color: rgb(156, 78, 143);
      }
    }

    &-description {
      padding-bottom: 50px;
      opacity: .5;
    }
  }

  //  second part

  &__atmosphere {

    &-img {
      width: 100%;
      max-width: 770px;
      z-index: -1;
    }

    &__text {
      margin: auto;
      max-width: 541px;
      line-height: 25px;
      text-align: center;
    
      &-heading {
        padding: 70px 0 50px 0;
        font-weight: 200;
        line-height: 30px;
        letter-spacing: 2px;
        text-transform: uppercase;
        letter-spacing: 2px;
    
        & span {
          color: rgb(156, 78, 143);
        }
      }

      &-description {
        padding-bottom: 50px;
        opacity: .5;
      }
    }
  }
}

@media (min-width: 738px) {
  .intro__atmosphere {
      position: relative;

      &-img {
        margin-right:0;
        margin-left: auto;
        display:block;
      }

      &__text {
        position: absolute;
        bottom: -300px;
        left: 0;
        padding: 50px 40px 50px 96px;
        text-align: start;
        background-color: #fff;
      }
  }

  .feedback__heading {
    margin-top: 280px;
  }
}


/* SECTION FEEDBACK */ 

.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__heading {
    padding: 20px 0 50px 0;
    font-weight: 200;
    line-height: 30px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    & span {
      color: rgb(156, 78, 143);
    }
  }

  &__img {
    width: 100%;
    max-width: 400px;
  }

  &__text {
    padding: 40px 40px 0 40px;
    line-height: 20px;
    text-align: center;
    background-color: rgb(247, 240, 240);
  
    &-description {
      opacity: .5;
    }

    &-author {
      padding: 15px 0 30px 0;
      text-align: right;
    
      &-link {
        text-decoration: none;
        letter-spacing: 1px;
        color:  rgb(150, 71, 137);
        cursor: pointer;
      }
    }
  }


}
@media (min-width: 440px) {
  .feedback {
    position: relative;

    &__img {
      margin-bottom: 200px;
    }

    &__text {
      position: absolute;
      right: 0;
      bottom: 100px;
      max-width: 300px;
      padding-top: 60px;
      text-align: start;
      line-height: 25px;
    }
  }
}

@media (min-width: 738px) {
  .feedback {
    &__text {
      max-width: 400px;
    }
  }
}

@media (min-width: 1024px) {
  .feedback {
    &__text {
      max-width: 500px;
    }
  }
}



/* button */

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  height: 34px;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
	position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
    opacity: 0;
    transition: all .3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    transform: scale(0.1, 1);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all .3s;
  }

  &:hover {
    letter-spacing: 4px;

    &::before {
      opacity: 1;
      transform: scale(1, 1);
    }

    &::after {
      opacity: 0;
      transform: scale(0.1, 1);
    }
  }
}


 /* btn primary */

.btn-primary {
  margin-top: 24px;
  color: rgb(56, 51, 51);

  &::before {
    border-top-color: rgba(56, 51, 51, 0.5);
    border-bottom-color: rgba(56, 51, 51, 0.5);
  }
  
  &::after {
    background-color: rgba(104, 94, 94, 0.1);
  }
}


