.fade-links {
  animation: fade-links 0.5s ease forwards;
}

@keyframes fade-links {
  from {
    opacity: 0;
    transition: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
