.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  background-color: $accent-gold;

  &__heading {
    font-size: 40px;
    position: relative;

    &::before {
      content: "";
      background-image: url("../images/dots-bg.svg");
      display: block;
      height: 37px;
      left: -14px;
      top: -14px;
      position: absolute;
      width: 37px;
    }
  }

  &__description {
    height: 90%;
    padding-top: 5px;
    font-size: 20px;
    background-image: url("../images/map.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }

  .form {
    &__list {
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
    }

    .form__item {
      position: relative;
      overflow: hidden;
      border-radius: 4px;
      box-shadow: 0px 5px 20px 0px rgba(47, 54, 64, 0.1);

      &__field {
        width: 100%;
        min-height: 60px;
        padding: 20px 0 0 7px;
        color: $color-thunder;
        background-color: $color-whitesmoke;
        border: none;

        &:focus {
          outline: none;
          + {
            .form__item__label {
              .form__item__label-span {
                transform: translateY(-100%);
                font-size: 14px;
                left: 10px;
                color: inherit;
              }
              &::after {
                transform: translateX(0%);
              }
            }
          }
        }

        &:valid {
          + {
            .form__item__label {
              .form__item__label-span {
                transform: translateY(-100%);
                font-size: 14px;
                left: 10px;
                color: $grey-200;
              }
              &::after {
                transform: translateX(0%);
              }
            }
          }
        }

        &--last {
          resize: vertical;
          overflow: auto;
          padding: 30px 0 0 7px;

          &:focus {
            outline: none;
            + {
              .form__item__label {
                .form__item__label-span {
                  transform: translateY(-14%);
                }
              }
            }
          }

          &:valid {
            + {
              .form__item__label {
                .form__item__label-span {
                  transform: translateY(-14%);
                }
              }
            }
          }
        }
      }

      &__label {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-bottom: 1px solid $color-whitesmoke;
        color: $grey-200;

        &::after {
          content: "";
          position: absolute;
          bottom: -1px;
          left: 0px;
          width: 100%;
          height: 100%;
          border-bottom: 3px solid $color-thunder;
          transform: translateX(-100%);
          transition: all 0.3s ease;
        }

        .form__item__label-span {
          position: absolute;
          bottom: 10px;
          left: 10px;
          padding-bottom: 5px;
          transition: all 0.3s ease;

          &--last {
            top: 30px;
          }
        }

        &--last {
          left: 0;
          top: -5px;
        }
      }

      &__icon {
        position: absolute;
        padding: 15px 10px;

        &-failure {
          color: $red-icon-failure;
          right: 0;
          opacity: 0;
        }

        &-success {
          color: $green-icon-success;
          right: 0;
          opacity: 0;
        }
      }
    }

    .form__error {
      height: 10px;
      margin-bottom: 15px;

      &-text {
        font-size: 12px;
        color: $error-text-color;
      }
    }

    &__button {
      padding: 20px 40px;
      font-size: 15px;
      color: $accent-gold;
      text-transform: uppercase;
      border: 0;
      border-radius: 5px;
      background-color: $color-thunder;
      letter-spacing: 1px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(3.5px);
      }
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;

    &__heading {
      margin: 0;
    }

    .form__paragraph {
      margin-top: 10px;
    }

    .col-one {
      padding: 40px 0 20px 20px;
      flex-grow: 2;
    }

    .col-two {
      margin-top: 30px;
      padding: 20px;
      flex-grow: 1;
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;

    &__heading {
      margin: 0;
    }

    .form__paragraph {
      margin-top: 10px;
    }

    .col-one {
      padding: 40px 0 20px 20px;
      flex-grow: 2;
    }

    .col-two {
      margin-top: 30px;
      padding: 20px;
      flex-grow: 1;
    }
  }

  @media (max-width: 767px) {
    padding: 15px;

    &__heading {
      padding-left: 20px;
      font-size: 28px;

      &::before {
        left: 10px;
      }
    }

    &__description {
      padding: 20px 0 20px 20px;
      font-size: 18px;
    }

    .col-two {
      width: 80%;
      margin: auto;
    }

    .form {
      &__paragraph {
        font-size: 12px;
      }

      &__button {
        margin: 20px 0 40px 0;
        font-size: 12px;
      }
    }
  }

  @media (max-width: 540px) {
    .col-two {
      width: 100%;
    }
  }
}
