.dark {
  background-color: $color-dark-mode;

  .main-container {
    background-color: $color-dark-mode;
  }

  .article__heading > * {
      color: $accent-color-primary;
  }

  .article__text > * {
    color: $color-text-dark-mode;
  }

  .feedback__img {
    filter: grayscale(40%);
  }

  .feedback__text {
    background-color: $color-dark-mode-brighter;
    color: #fff;
  }

  .feedback__author-link {
    color: $accent-color-primary;

    &:hover {
      border-bottom-color: $accent-color-primary;
    }
  }

  .switcher__text {
    color: $color-text-dark-mode;
  }

  .switcher__label {
    background-color: $accent-color-primary;
    &-circle {
      background-color: $color-light-mode;
    }
  }

  @media(min-width: 540px) {
    .article > * {
      background-color: $color-dark-mode; 
    }
  }

  @media(max-width: 768px) {
    .navigation__list {
      background-color: $accent-color-primary;
      opacity: .94;
    }

    .navigation__link {
      color: $color-dark-mode;
    }

    .navigation__list-arrowButton {
      background-color: $accent-color-primary;

      &--active {
        color: $color-dark-mode;
      }
    }
  }
  // contact section 
  .contact {
    color: $color-text-dark-mode;
    &__description-email {
      color: $accent-color-primary;
    }
  }

 .form {
    &__field {
      background-color: $color-dark-mode-brighter;
      color: #fff;
      &::placeholder {
        color: #fff;
      }
    }
    &__button {
      color: $color-dark-mode;
      background-color: $accent-color-primary;
    }
  }
}