.feedback {
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

    &__img {
      display: block;
      height: auto;
      width: 100%;
      max-width: 400px;
    }

    &__text {
      padding: 20px;
      line-height: 1.5;
      background-color: var(--feedback-bgc);
      color: var(--feedback-text);
      cursor: pointer;

      &-paragraph {
        opacity: 0.5;
      }

      &-author {
        text-align: right;

        &-link {
          text-decoration: none;
          letter-spacing: 1px;
          color: var(--feedback-author);
          border-bottom: 1.8px solid rgba(179, 137, 137, 0.089);
          transition: 0.2s all ease-in;
          cursor: pointer;

          &:hover {
            border-bottom: 1.8px solid var(--feedback-author);
          }
        }
      }
    }
  }

  @media (min-width: 440px) {
    .feedback__content {
      position: relative;

      &__img {
        margin-bottom: 200px;
      }

      &__text {
        position: absolute;
        bottom: 100px;
        max-width: 300px;
        padding-top: 60px;
        text-align: start;
        line-height: 2;
        box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.15);
        opacity: 0.93;

        &--right {
          right: 0;
        }

        &--left {
          left: 0;
        }
      }
    }
  }

  @media (min-width: 738px) {
    .feedback__content {
      &__text {
        max-width: 400px;
      }
    }
  }

  @media (min-width: 1024px) {
    .feedback__content {
      &__text {
        max-width: 500px;
        overflow: hidden;
        transition: transform 0.5s ease;
        transform-origin: left;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
