.feedback-wrapper {
  .feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0; 

    &__img {
      display: block;
      height: auto; 
      width: 100%;
      max-width: 400px;
    }
  
    &__text {
      padding: 20px;
      line-height: 1.5;
      background-color: $bgc-light-mode-300;
    }

    &__paragraph {
        opacity: .5;
    }
  
    &__author {
      text-align: right;

      &-link {
        text-decoration: none;
        letter-spacing: 1px;
        color: $accent-color-secondary;
        border-bottom: 1.8px solid rgba(179, 137, 137, 0.089);
        transition: .2s all ease-in;
        cursor: pointer;
  
        &:hover {
          border-bottom: 1.8px solid rgb(192, 143, 183);
        }
      }
    }
  } 

  @media (min-width: 440px) {
    .feedback {
      position: relative;
  
      &__img {
        margin-bottom: 200px;
      }
  
      &__text {
        position: absolute;
        bottom: 100px;
        max-width: 300px;
        padding-top: 60px;
        text-align: start;
        line-height: 2;
        box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.15);
        opacity: .93;
  
        &--right {
          right: 0;
        }
  
        &--left {
          left: 0;
        }
      }
    }
  }
  
  @media (min-width: 738px) {
    .feedback {
      &__heading {
        margin-top: 50px;
      }
      &__text {
        max-width: 400px;
      }
    }
  }
  
  @media (min-width: 1024px) {
    .feedback {
      &__text {
        max-width: 500px;
      }
    }
  }
}   