.footer {
  width: 100%;
  margin: 25px auto 0 auto;
  padding: 20px 50px 70px 50px;
  font-size: 14px;
  text-align: center;
  background-color: $color-darkBrown;
  position: relative;

  &__buttonUp {
    position: fixed;
    bottom: 27px;
    right: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: $accent-gold;
    cursor: pointer;
    z-index: 100;
    transform: translateY(100px);
    transition: all 0.5s ease;
    opacity: 0.7;

    &--show {
      transform: translateY(0);
    }
  }

  &__paragraph {
    opacity: 0.8;
    color: $color-alabaster;
  }

  @media (min-width: 576px) {
    margin-top: 100px;
    padding: 20px;
    font-size: 16px;
  }
}
