.hero-container {
  position: relative;
  min-height: 100vh;
  background-image: url("../images/sr1.webp");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;

  #bg-dots {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-overlay;
    opacity: 0.4;
  }

  @media (min-width: 868px) {
    filter: brightness(70%);
  }
}
