.header {
  display: flex;
  justify-content: center;
  align-items: center;

  &__heading {
    position: absolute;
    bottom: 100px;
    color: rgba(255, 255, 255, 0.733);
    text-align: center;
  }

  &__mainHeading {
    letter-spacing: 2px;
    word-spacing: 4px;
  }

  &__subHeading {
    display: block;
    padding-top: 20px;
    font-size: 0.6em;
    font-weight: normal;
  }

  @media (min-width: 640px) {
    .header__mainHeading {
      font-size: 1.5em;
    }
  }

  @media (min-width: 1024px) {
    &__mainHeading {
      font-size: 1.8em;
    }

    &__subHeading {
      font-size: 0.8em;
      padding-bottom: 50px;
    }
  }
}
