.hero-container {
  min-height: 100vh;
  background-image: url(../images/min-sr1.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  border-bottom: 2px solid $accent-gold;
}

.animation-drops {
  position: relative;
  width: 100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-image: url(../images/min-sr1.jpg);
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $color-overlay;
    opacity: 0.45;
    z-index: -1;
  }
}
