.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px 0 24px;
  background-color: var(--container-bgc);
  transition: background-color 0.3s linear;
  position: relative;
}

.buttonToggle {
  position: absolute;
  top: -100px;
  right: 20;
  box-sizing: content-box;
  padding: 0;
  width: 30px;
  height: 30px;
  background: var(--button-background);
  color: var(--button-color);
  border: none;
  cursor: pointer;
  transform: translateY(100px);
  transition: all 0.5s ease;
  opacity: 0.7;
  background-image: var(--button-icon);
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  z-index: 900;

  &:focus {
    outline: 1px solid $accent-gold;
    outline-offset: 0.5px;
  }

  &--show {
    transform: translateY(100);
    opacity: 0.7;
  }

  @media (min-width: 500px) {
    top: -73px;
    right: 27px;
    height: 40px;
    width: 40px;
  }
}
