.pair-tracks {
  background-color: $accent-gold;

  &__track {
    width: 100%;
    padding: 20px;

    &--marginTop {
      margin-top: 30px;
    }

    &-iframe {
      width: 100%;
      height: 166px;
      border-radius: 4px;
    }

    &-link {
      font-size: 14px;
      color: #2c2323;
      text-decoration: none;
    }
  }
}

@media (min-width: 768px) {
  .pair-tracks {
    display: flex;
    justify-content: center;
    align-items: center;

    &__track {
      &--marginTop {
        margin: 0;
      }
    }
  }
}
