.pair-tracks {
  background-color: $accent-gold;

  &__track {
    width: 100%;
    padding: 20px;

    &--marginTop {
      margin-top: 30px;
    }
  }
}

@media (min-width: 768px) {
  .pair-tracks {
    display: flex;
    justify-content: center;
    align-items: center;

    &__track {
      &--marginTop {
        margin: 0;
      }
    }
  }
}
