header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-whitesmoke;
  transition: background 200ms ease-in;
  height: 10vh;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;

    &-content {
      display: flex;
      position: relative;
      transition: color 200ms ease-in;

      &-heading {
        font-size: 18px;
        width: 200px;
        padding-left: 14px;
        margin-bottom: -10px;
        text-transform: uppercase;
        color: $color-darkBrown;

        @media (max-width: 576px) {
          font-size: 14px;
        }
      }

      &::after {
        content: "guitarist";
        position: absolute;
        top: 20px;
        left: 200px;
        font-family: $accent-font;
        font-size: 15px;
        color: $accent-gold;
        letter-spacing: 4px;

        @media (max-width: 576px) {
          top: 20px;
          left: 165px;
          font-size: 10px;
        }
      }
    }
  }

  &__hamburgerButton {
    display: flex;
    justify-content: center;
    position: relative;
    width: 45px;
    height: 45px;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    margin: 10px;
    transition: background 0.4s ease;

    &:focus {
      outline: 2px dotted $accent-gold;
    }
  }

  &__firstLine,
  &__firstLine::before,
  &__firstLine::after {
    width: 28px;
    height: 3px;
    position: absolute;
    bottom: 12px;
    background-color: $accent-gold;
    border-radius: 4px;
    transition: transform 0.15 ease;

    @media (max-width: 576px) {
      width: 25px;
    }
  }

  &__firstLine {
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    // second line
    &::before {
      content: "";
      display: block;
      top: -10px;
      left: 0;
      transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    // third line
    &::after {
      content: "";
      display: block;
      top: -20px;
      left: 0;
      transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        opacity 0.1s linear;
    }
  }

  &__list {
    position: fixed;
    top: 10vh;
    right: 0;
    width: 60%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    background-color: $color-darkBrown;
    z-index: 1000;

    &--open {
      transform: translateX(0);
    }
  }

  &__item {
    list-style: none;
    padding: 20px 10px;

    &:nth-of-type(1) a {
      animation-delay: 0.3s;
    }
    &:nth-of-type(2) a {
      animation-delay: 0.4s;
    }
    &:nth-of-type(3) a {
      animation-delay: 0.6s;
    }
    &:nth-of-type(4) a {
      animation-delay: 0.8s;
    }
    &:nth-of-type(5) a {
      animation-delay: 1s;
    }
  }

  &__link {
    font-size: 12px;
    font-weight: 700;
    color: $color-whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0;
    transition: all 0.2s ease;

    &:hover {
      color: $accent-gold;
    }
  }
}

@media (min-width: 868px) {
  .navigation {
    height: 8vh;
    &__list {
      position: relative;
      top: 0;
      height: 10vh;
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;
      background-color: transparent;
      will-change: transform, opacity;
      transform: translateX(0%);
      padding-bottom: 30px;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      padding: 0 20px 0 20px;
    }

    &__link {
      font-size: 14px;
      color: $color-darkBrown;
      opacity: 1;

      &:active {
        color: $accent-gold;
        transform: translateY(2px);
      }
    }

    &__hamburgerButton {
      display: none;
    }

    &__list-arrowButton {
      display: none;
    }
  }
}

@media (min-width: 900px) {
  .navigation {
    padding: 0 20px 0 20px;
  }
}

@media (min-width: 1024px) {
  .navigation {
    &__logoContainer {
      max-width: 150px;
    }

    &__list {
      width: 100%;
    }
  }
}

// observer classes

.observer-nav-background {
  background-color: var(--nav-scroll-observer);
  box-shadow: 0 3px 20px rgba(black, 0.2);
}

.observer-nav-color {
  color: rgb(245, 245, 245);
}
