
// background-color: rgb(247, 236, 236);
$color-light-mode: rgb(248, 248, 248);
$color-text-light-mode: rgb(100, 88, 88);

$color-dark-mode-brighter: #5c4747;
$color-dark-mode: #2c2323;
$color-text-dark-mode: rgba(204, 192, 192, 0.952);

$color-overlay: hsla(180, 12%, 13%, 0.911);
$color-panel: #302b2bf5;
$color-details: rgb(191, 150, 96);
$grey-100: rgba(255, 255, 255, 0.805);
$grey-600: rgba(48, 47, 47, 0.25);
$grey-500: rgba(90, 83, 83, 0.233);
$accent-color-primary: rgb(191, 150, 96);
$accent-color-secondary: rgb(156, 78, 143);

$base-font: "Josefin Sans", "Arial", sans-serif;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, ::before, ::after {
  box-sizing: inherit;
}

.body {
  font-family: $base-font;
  background-color: $color-light-mode;
  transition: background-color .3s linear;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hero-container {
  min-height: 100vh;
  background-image: url(../images/min-sr1.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  border-bottom: 2px solid $accent-color-primary;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: $color-overlay;
    opacity: .4;
    z-index: -1;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    padding: 10px;
    background-color: $color-panel;
    z-index: 999;
  
    &__logoContainer {
      max-width: 120px;
      text-align: center;
    }
  
    &__logoImg {
      height: auto;
      width: 100%;
    }
  
    &__hamburgerButton {
      display: flex;
      justify-content: center;
      position: relative;
      width: 45px;
      height: 45px;
      border: 0;
      cursor: pointer;
      background-color: $grey-500;

      &:focus {
        outline: 2px dotted $color-panel;
      }
    }

    &__firstLine, 
    &__firstLine::before, 
    &__firstLine::after {
      width: 28px;
      height: 3px;
      position: absolute;
      bottom: 12px;
      background-color: $color-details;
      border-radius: 4px;
      transition: transform 0.15 ease; 
    }
    
    &__firstLine {
      transition-duration: 0.13s;
      transition-delay: 0.13s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      
      // second line
      &::before {
        content: "";
        display: block;
        top: -10px; 
        left: 0;
        transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
      
      // third line
      &::after {
        content: "";
        display: block;
        top: -20px;
        left: 0;
        transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
      }
    }

    &__list {
      position: fixed;
      top: 10vh;
      right: 0;
      width: 60%;
      height: 80vh;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center; 
      transform: translateX(100%);
      transition: transform .5s ease-in;
      background-color:  $color-panel;
      z-index: 10;

      &--open {
        transform: translateX(0);
      }

      &-arrowButton {
        position: fixed;
        position: absolute;
        top: 40%;
        right: 100%;
        height: 50px;
        width: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        cursor: pointer;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        user-select: none;
        font-size: 20px;
        color: transparent;
        background-color: $color-panel;
        text-align: left;
        will-change: transform, opacity;
        transform: translateX(100%);
        transition: transform .5s ease-in;

        &:focus {
          outline: 2px dotted $color-panel;
        }

        &--active {
          transform: translateX(0);
          color: $accent-color-primary;
        }
      }     
    }

    &__item {
      list-style: none;
      padding: 20px 10px;

      &:nth-of-type(1) a {
        animation-delay: .3s;
      }
      &:nth-of-type(2) a {
        animation-delay: .4s;
      }
      &:nth-of-type(3) a {
        animation-delay: .6s;
      }
      &:nth-of-type(4) a {
        animation-delay: .8s;
      }
      &:nth-of-type(5) a {
        animation-delay: 1s;
      }
    }
  
    &__link {
      color: $grey-100;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 14px;
      font-weight: 700;
      opacity: 0;
      transition: all .2s ease;

      &:hover {
        color: $accent-color-primary;
      }
    }
  }

  @media(min-width: 768px) {
    .navigation {
      border-bottom: 2px solid  $accent-color-primary;

      &__list { 
        top: 0;
        height: 10vh;
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: transparent;
        will-change: transform, opacity;
        transform: translateX(0%);
        position: relative;
      }

      &__item {
        display: flex;
        justify-content: space-between;
        padding: 0 20px 0 20px;
      }
    
      &__link {
        opacity: 1;
        &:hover {
          transform: translateY(-3px);
        }

        &:active {
          color: $accent-color-primary;
          transform: translateY(-3px);
        }
      }
    
      &__hamburgerButton {
        display: none;
      }

      &__list-arrowButton {
        display: none;
      }
    }
  }

  @media(min-width: 1024px) {
    .navigation {
      &__logoContainer {
        max-width: 150px;
      }

      &__list {
        width: 100%;
      }
    }
  }
}
.js-active {
	.navigation__firstLine {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		&::after {
			top: 0;
			opacity: 0;
			transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
		}
		&::before {
			top: 0;
			transform: rotate(-90deg);
			transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
		}

    & {
      opacity: 0.7;
    }
	}
}

.linksFade {
  animation: linksFade .5s ease forwards;
}

@keyframes linksFade {
  from {
    opacity: 0;
    transition: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  &__heading {
    position: absolute;
    bottom: 100px;
    color: rgba(255, 255, 255, 0.733);
    text-align: center;
  }

  &__mainHeading{
    letter-spacing: 2px;
    word-spacing: 4px;
  }

  &__subHeading {
    display: block;
    padding-top: 20px;
    font-size: .6em;
    font-weight: normal;
  }

  @media (min-width: 640px) {
    .header__mainHeading {
      font-size: 1.5em;
    }
  }
  
  @media (min-width: 1024px) {
    &__mainHeading {
        font-size: 1.8em;
    }
    
    &__subHeading {
      font-size: .8em;
      padding-bottom: 50px;
    }
  }
}

/* 

  MAIN CONTENT

  SECTION INTRO 

*/

.main-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px 0 24px;
  background-color: $color-light-mode;
  transition: background-color .3s linear;
}

// toggle mode

.switcher {
  &__checkbox {
    opacity: 0;
  }

  &__label {
    background-color: $color-light-mode;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    height: 28px;
    width: 28px;
    transform: scale(1.2);
    border: 1px solid $color-dark-mode;

    &-circle {
      border-radius: 50%;
      position: absolute;
      top: 1;
      left: 2px;
      height: 22px;
      width: 22px;
      border: 1px solid $color-dark-mode;
      background-color:$color-dark-mode;
    }
  }

  &__text {
    color: $color-text-light-mode;
  }
}


// intro, music, feedback: secondary headings & text below them: 
.article {
  &__img {
    width: 100%;
    max-width: 770px;
    z-index: -1;
  }

  &__text {
    margin: auto;
    max-width: 541px;
    line-height: 1.5;
    text-align: center;
    color: $color-text-light-mode;
  }

  &__heading {
    padding: 50px 0 20px 0;
    font-weight: 200;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__special {
    color: $accent-color-secondary;
  }

  &__paragraph {
    padding-bottom: 10px;

    &--marginBottom {
      margin-bottom: 50px;
    }
  }
   
  @media (min-width: 540px) {
    position: relative;
   
    &__img {
      display: block;
      margin-top: 120px;
      margin-left: auto;
    }

    &__text {
      transition: background-color .3s linear;
    }

    &__text--positioning {
      position: absolute;
      bottom: -200px;
      left: 0;
      padding: 0 40px 0 96px;
      text-align: start;
      background-color: $color-light-mode;
    }

    &__img--margin {
      margin: 180px 0 200px 0;
      margin-left: auto;
    }
  }
}


.track {
  width: 100%;
  padding: 20px 0 20px 0;

  &--marginTop {
    margin-top: 30px;
  }
}
  
@media(min-width: 768px) {
  .pair-tracks {
    display:flex;
    justify-content: center;
    align-items: center;

    .track {
    padding: 20px;

    &--marginTop {
      margin: 0;
    }
    }
  }
}


.feedback-wrapper {
  .feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0; 

    &__img {
      display: block;
      height: auto; 
      width: 100%;
      max-width: 400px;
    }
  
    &__text {
      padding: 20px;
      line-height: 1.5;
      background-color: rgb(247, 236, 236);
    }

    &__paragraph {
        opacity: .5;
    }
  
    &__author {
      text-align: right;

      &-link {
        text-decoration: none;
        letter-spacing: 1px;
        color: $accent-color-secondary;
        border-bottom: 1.8px solid rgba(179, 137, 137, 0.089);
        transition: .2s all ease-in;
        cursor: pointer;
  
        &:hover {
          border-bottom: 1.8px solid rgb(192, 143, 183);
        }
      }
    }
  } 

  @media (min-width: 440px) {
    .feedback {
      position: relative;
  
      &__img {
        margin-bottom: 200px;
      }
  
      &__text {
        position: absolute;
        bottom: 100px;
        max-width: 300px;
        padding-top: 60px;
        text-align: start;
        line-height: 2;
        box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.15);
        opacity: .93;
  
        &--right {
          right: 0;
        }
  
        &--left {
          left: 0;
        }
      }
    }
  }
  
  @media (min-width: 738px) {
    .feedback {
      &__heading {
        margin-top: 50px;
      }
      &__text {
        max-width: 400px;
      }
    }
  }
  
  @media (min-width: 1024px) {
    .feedback {
      &__text {
        max-width: 500px;
      }
    }
  }
}   
  
.footer {
  max-width: 1200px;
  margin: 70px auto 0 auto;
  padding: 30px 30px 30px 24px;
  text-align: center;
  background-color: $color-panel;
  position: relative;

  &__gg-arrow-up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    color: $accent-color-primary;
    box-shadow: 0 0 5px $grey-600;
    text-decoration: none;
    border-radius: 100%;
    background-color: $grey-500;
    cursor: pointer;
    transition: all .3s ease-in;
 
    &:hover {
      color: $color-panel;
      background-color:$accent-color-primary;
    }
  }

  &__paragraph {
    opacity: .8;
    color: $color-light-mode;
  }

  @media(min-width: 768px) {
    &__gg-arrow-up {
      width: 50px;
      height: 50px;
      font-size: 18px;
      position: absolute;
      right: 50px;
      bottom: 30px;
    }
  }
}


// change bacground-color and color when dark mode is one
.dark {
  background-color: $color-dark-mode;

  .main-container {
    background-color: $color-dark-mode;
  }

  .article__heading > * {
      color: $accent-color-primary;
  }

  .article__img  {
    filter: grayscale(50%);
  }

  .article__text > * {
    color: $color-text-dark-mode;
  }

  .feedback__img {
    filter: grayscale(40%);
  }

  .feedback__text {
    background-color: $color-dark-mode-brighter;
    color: #fff;
  }

  .feedback__author-link {
    color: $accent-color-primary;

    &:hover {
      border-bottom-color: $accent-color-primary;
    }
  }

  .switcher__text {
    color: $color-text-dark-mode;
  }

  .switcher__label {
    background-color: $accent-color-primary;
    
    &-circle {
      background-color: $color-light-mode;
    }
  }


  @media(min-width: 540px) {
    .article > * {
      background-color: $color-dark-mode; 
      z-index: 100;
    }
  }

  @media(max-width: 768px) {
    .navigation__list,
    .navigation__link {
      background-color: $accent-color-primary;
      color: $color-dark-mode;
      opacity: .95;
    }

    .navigation__list-arrowButton {
      background-color: $accent-color-primary;

      &--active {
        color: $color-dark-mode;
      }
    }
  }
}
