html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, ::before, ::after {
  box-sizing: inherit;
}

.body {
  font-family: "Josefin Sans", "Arial", sans-serif;
  background-color: #f8f8f8;
  transition: background-color .3s linear;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hero-container {
  min-height: 100vh;
  background-image: url(../images/min-sr1.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  border-bottom: 2px solid #bf9660;
}

.hero-container::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(29, 37, 37, 0.911);
  opacity: .4;
  z-index: -1;
}

.hero-container .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  padding: 10px;
  background-color: #302b2bf5;
  z-index: 999;
}

.hero-container .navigation__logoContainer {
  max-width: 120px;
  text-align: center;
}

.hero-container .navigation__logoImg {
  height: auto;
  width: 100%;
}

.hero-container .navigation__hamburgerButton {
  display: flex;
  justify-content: center;
  position: relative;
  width: 45px;
  height: 45px;
  border: 0;
  cursor: pointer;
  background-color: rgba(90, 83, 83, 0.233);
}

.hero-container .navigation__hamburgerButton:focus {
  outline: 2px dotted #302b2bf5;
}

.hero-container .navigation__firstLine, .hero-container .navigation__firstLine::before, .hero-container .navigation__firstLine::after {
  width: 28px;
  height: 3px;
  position: absolute;
  bottom: 12px;
  background-color: #bf9660;
  border-radius: 4px;
  transition: transform 0.15 ease;
}

.hero-container .navigation__firstLine {
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hero-container .navigation__firstLine::before {
  content: "";
  display: block;
  top: -10px;
  left: 0;
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hero-container .navigation__firstLine::after {
  content: "";
  display: block;
  top: -20px;
  left: 0;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hero-container .navigation__list {
  position: fixed;
  top: 10vh;
  right: 0;
  width: 60%;
  height: 80vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(100%);
  transition: transform .5s ease-in;
  background-color: #302b2bf5;
  z-index: 10;
}

.hero-container .navigation__list--open {
  transform: translateX(0);
}

.hero-container .navigation__list-arrowButton {
  position: fixed;
  position: absolute;
  top: 40%;
  right: 100%;
  height: 50px;
  width: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  user-select: none;
  font-size: 20px;
  color: transparent;
  background-color: #302b2bf5;
  text-align: left;
  will-change: transform, opacity;
  transform: translateX(100%);
  transition: transform .5s ease-in;
}

.hero-container .navigation__list-arrowButton:focus {
  outline: 2px dotted #302b2bf5;
}

.hero-container .navigation__list-arrowButton--active {
  transform: translateX(0);
  color: #bf9660;
}

.hero-container .navigation__item {
  list-style: none;
  padding: 20px 10px;
}

.hero-container .navigation__item:nth-of-type(1) a {
  animation-delay: .3s;
}

.hero-container .navigation__item:nth-of-type(2) a {
  animation-delay: .4s;
}

.hero-container .navigation__item:nth-of-type(3) a {
  animation-delay: .6s;
}

.hero-container .navigation__item:nth-of-type(4) a {
  animation-delay: .8s;
}

.hero-container .navigation__item:nth-of-type(5) a {
  animation-delay: 1s;
}

.hero-container .navigation__link {
  color: rgba(255, 255, 255, 0.805);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 700;
  opacity: 0;
  transition: all .2s ease;
}

.hero-container .navigation__link:hover {
  color: #bf9660;
}

@media (min-width: 768px) {
  .hero-container .navigation {
    border-bottom: 2px solid #bf9660;
  }
  .hero-container .navigation__list {
    top: 0;
    height: 10vh;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    will-change: transform, opacity;
    transform: translateX(0%);
    position: relative;
  }
  .hero-container .navigation__item {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
  }
  .hero-container .navigation__link {
    opacity: 1;
  }
  .hero-container .navigation__link:hover {
    transform: translateY(-3px);
  }
  .hero-container .navigation__link:active {
    color: #bf9660;
    transform: translateY(-3px);
  }
  .hero-container .navigation__hamburgerButton {
    display: none;
  }
  .hero-container .navigation__list-arrowButton {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hero-container .navigation__logoContainer {
    max-width: 150px;
  }
  .hero-container .navigation__list {
    width: 100%;
  }
}

.js-active .navigation__firstLine {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.js-active .navigation__firstLine::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.js-active .navigation__firstLine::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.js-active .navigation__firstLine {
  opacity: 0.7;
}

.linksFade {
  animation: linksFade .5s ease forwards;
}

@keyframes linksFade {
  from {
    opacity: 0;
    transition: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__heading {
  position: absolute;
  bottom: 100px;
  color: rgba(255, 255, 255, 0.733);
  text-align: center;
}

.header__mainHeading {
  letter-spacing: 2px;
  word-spacing: 4px;
}

.header__subHeading {
  display: block;
  padding-top: 20px;
  font-size: .6em;
  font-weight: normal;
}

@media (min-width: 640px) {
  .header .header__mainHeading {
    font-size: 1.5em;
  }
}

@media (min-width: 1024px) {
  .header__mainHeading {
    font-size: 1.8em;
  }
  .header__subHeading {
    font-size: .8em;
    padding-bottom: 50px;
  }
}

/* 

  MAIN CONTENT

  SECTION INTRO 

*/
.main-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px 0 24px;
  background-color: #f8f8f8;
  transition: background-color .3s linear;
}

.switcher {
  margin-top: 20px;
}

.switcher__checkbox {
  opacity: 0;
}

.switcher__label {
  background-color: #f8f8f8;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  height: 28px;
  width: 28px;
  transform: scale(1.2);
  border: 1px solid #2c2323;
}

.switcher__label-circle {
  border-radius: 50%;
  position: absolute;
  top: 1;
  left: 2px;
  height: 22px;
  width: 22px;
  border: 1px solid #2c2323;
  background-color: #2c2323;
}

.switcher__text {
  color: #645858;
}

.article__img {
  width: 100%;
  max-width: 770px;
  z-index: -1;
}

.article__text {
  margin: auto;
  max-width: 541px;
  line-height: 1.5;
  text-align: center;
  color: #645858;
}

.article__heading {
  padding: 50px 0 20px 0;
  font-weight: 200;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.article__special {
  color: #9c4e8f;
}

.article__paragraph {
  padding-bottom: 10px;
}

.article__paragraph--marginBottom {
  margin-bottom: 50px;
}

@media (min-width: 540px) {
  .article {
    position: relative;
  }
  .article__img {
    display: block;
    margin-top: 120px;
    margin-left: auto;
  }
  .article__text {
    transition: background-color .3s linear;
  }
  .article__text--positioning {
    position: absolute;
    bottom: -200px;
    left: 0;
    padding: 0 40px 0 96px;
    text-align: start;
    background-color: #f8f8f8;
  }
  .article__img--margin {
    margin: 180px 0 200px 0;
    margin-left: auto;
  }
}

.track {
  width: 100%;
  padding: 20px 0 20px 0;
}

.track--marginTop {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .pair-tracks {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pair-tracks .track {
    padding: 20px;
  }
  .pair-tracks .track--marginTop {
    margin: 0;
  }
}

.feedback-wrapper .feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.feedback-wrapper .feedback__img {
  display: block;
  height: auto;
  width: 100%;
  max-width: 400px;
}

.feedback-wrapper .feedback__text {
  padding: 20px;
  line-height: 1.5;
  background-color: #f7ecec;
}

.feedback-wrapper .feedback__paragraph {
  opacity: .5;
}

.feedback-wrapper .feedback__author {
  text-align: right;
}

.feedback-wrapper .feedback__author-link {
  text-decoration: none;
  letter-spacing: 1px;
  color: #9c4e8f;
  border-bottom: 1.8px solid rgba(179, 137, 137, 0.089);
  transition: .2s all ease-in;
  cursor: pointer;
}

.feedback-wrapper .feedback__author-link:hover {
  border-bottom: 1.8px solid #c08fb7;
}

@media (min-width: 440px) {
  .feedback-wrapper .feedback {
    position: relative;
  }
  .feedback-wrapper .feedback__img {
    margin-bottom: 200px;
  }
  .feedback-wrapper .feedback__text {
    position: absolute;
    bottom: 100px;
    max-width: 300px;
    padding-top: 60px;
    text-align: start;
    line-height: 2;
    box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.15);
    opacity: .93;
  }
  .feedback-wrapper .feedback__text--right {
    right: 0;
  }
  .feedback-wrapper .feedback__text--left {
    left: 0;
  }
}

@media (min-width: 738px) {
  .feedback-wrapper .feedback__heading {
    margin-top: 50px;
  }
  .feedback-wrapper .feedback__text {
    max-width: 400px;
  }
}

@media (min-width: 1024px) {
  .feedback-wrapper .feedback__text {
    max-width: 500px;
  }
}

.footer {
  max-width: 1200px;
  margin: 70px auto 0 auto;
  padding: 30px 30px 30px 24px;
  text-align: center;
  background-color: #302b2bf5;
  position: relative;
}

.footer__gg-arrow-up {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 16px;
  color: #bf9660;
  box-shadow: 0 0 5px rgba(48, 47, 47, 0.25);
  text-decoration: none;
  border-radius: 100%;
  background-color: rgba(90, 83, 83, 0.233);
  cursor: pointer;
  transition: all .3s ease-in;
}

.footer__gg-arrow-up:hover {
  color: #302b2bf5;
  background-color: #bf9660;
}

.footer__paragraph {
  opacity: .8;
  color: #f8f8f8;
}

@media (min-width: 768px) {
  .footer__gg-arrow-up {
    width: 50px;
    height: 50px;
    font-size: 18px;
    position: absolute;
    right: 50px;
    bottom: 30px;
  }
}

.dark {
  background-color: #2c2323;
}

.dark .main-container {
  background-color: #2c2323;
}

.dark .article__heading > * {
  color: #bf9660;
}

.dark .article__text > * {
  color: rgba(204, 192, 192, 0.952);
}

.dark .feedback__img {
  filter: grayscale(40%);
}

.dark .feedback__text {
  background-color: #5c4747;
  color: #fff;
}

.dark .feedback__author-link {
  color: #bf9660;
}

.dark .feedback__author-link:hover {
  border-bottom-color: #bf9660;
}

.dark .switcher__text {
  color: rgba(204, 192, 192, 0.952);
}

.dark .switcher__label {
  background-color: #bf9660;
}

.dark .switcher__label-circle {
  background-color: #f8f8f8;
}

@media (min-width: 540px) {
  .dark .article > * {
    background-color: #2c2323;
  }
}

@media (max-width: 768px) {
  .dark .navigation__list {
    background-color: #bf9660;
    opacity: .94;
  }
  .dark .navigation__link {
    color: #2c2323;
  }
  .dark .navigation__list-arrowButton {
    background-color: #bf9660;
  }
  .dark .navigation__list-arrowButton--active {
    color: #2c2323;
  }
}

/* // sprawdzx to w nawigavji na swej stronie muzycznej transform y */
/*# sourceMappingURL=style.css.map */