
html {
  box-sizing: border-box;
}

// check reset selector before pseudoelem
*, ::before, ::after {
  box-sizing: inherit;
  font-family: "Josefin Sans", "Arial", sans-serif;
}

//  check the line height - no px 1.5
/*

  NAVIGATION

*/ 



.hero-container {
  min-height: 100vh;
  background-image: url(../images/min-sr1.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  overflow-x: hidden;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: hsla(180, 12%, 13%, 0.911);
    opacity: .4;
    z-index: -1;
  }
}



/*

  HAMBURGER

*/ 


.hamburger {
  width: 45px;
  height: 45px;
	border: 0;
  outline: none;
  cursor: pointer;
  background-color: rgba(90, 83, 83, 0.233);
 
  &-box {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    left: 0;
    width: 100%;
    height: 30px;
    position: relative;
  }
}

.hamburger-inner, 
.hamburger-inner::before, 
.hamburger-inner::after {
  width: 28px;
  height: 3px;
  background-color:  rgb(191, 150, 96);
  border-radius: 4px;
  position: absolute;
  // transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; 
}

.hamburger-inner {
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

  &::before {
    content: "";
    display: block;
    top: -10px; 
    left: 0;
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  &::after {
    content: "";
    display: block;
    top: -20px;
    left: 0;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
  }
}


.js-active {
	.hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		&::after {
			top: 0;
			opacity: 0;
			transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
		}
		&::before {
			top: 0;
			transform: rotate(-90deg);
			transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
		}

    & {
      opacity: 0.7;
    }
	}
}

.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  padding: 10px;
  background-color: #302b2bee;
  z-index: 999;

  &__logo {
    max-width: 120px;
    text-align: center;
  
    &-img {
    height: auto;
    width: 100%;
    }
  }

  &__list {
    position: absolute;
    margin: 0;
    top: 10vh;
    right: 0;
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    transform: translateX(100%);
    transition: transform .5s ease-in;
    background-color:  #302b2bee;
  }

  &__item {
    list-style: none;
    padding: 20px 10px;
  }

  &__link {
    color: rgba(255, 255, 255, 0.805);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 700;
    opacity: 0;
    transition: all .2s ease;

    &:hover {
      color: rgb(191, 150, 96);
    }
  }
}

.nav__list--open {
  transform: translateX(0%);
}

@keyframes linksFade {
  from {
    opacity: 0;
    transition: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}


@media(min-width: 768px) {

 .nav {
  &__list { 
    top: 0;
    height: 10vh;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    transform: translateX(0%);
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
  }

  &__link {
    opacity: 1;
  }

 }
  
  .hamburger {
    display: none;
  }
}


@media(min-width: 1024px) {
  .nav {
    &__logo {
      max-width: 150px;
    }

    &__list {
      width: 100%;
    }
  }
}




/*

  HEADER ----> HERO

*/ 


.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;

  &__heading {;
    position: absolute;
    bottom: 100px;
    opacity: .8;
 
    text-align: center;
    &-main {
      letter-spacing: 2px;
      word-spacing: 4px;
    }

    &-sub {
      display: block;
      padding-top: 20px;
      font-size: .6em;
      font-weight: normal;
    }
  }
}

@media (min-width: 640px) {
  .header__heading-main {
    font-size: 1.5em;
  }
}

@media (min-width: 1024px) {
  .header__heading-main {
    font-size: 1.8em;
  }

  .header__heading-sub {
    font-size: .8em;
  }
}


/* 

  MAIN CONTENT

  SECTION INTRO 

*/


.main-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px 0 24px;
}


.intro {

  &__passion, 
  &__atmosphere {

    &-img {
      width: 100%;
      max-width: 770px;
      z-index: -1;
    }

    &__text {
      margin: auto;
      max-width: 541px;
      line-height: 25px;
      text-align: center;
    
      &-heading {
        padding: 50px 0 20px 0;
        font-weight: 200;
        line-height: 30px;
        letter-spacing: 2px;
        text-transform: uppercase;
        letter-spacing: 2px;
    
        & span {
          color: rgb(156, 78, 143);
        }
      }

      &-description {
        padding-bottom: 50px;
        opacity: .5;
      }
    }
  }
}

@media (min-width: 540px) {

  .intro__passion,
  .intro__atmosphere {
      position: relative;

      &-img {
        display: block;
        margin-top: 120px;
        margin-left: auto;
      }

      &__text {
        position: absolute;
        bottom: -200px;
        left: 0;
        padding: 0 40px 0 96px;
        text-align: start;
        background-color: #fff;
      }
  }

  .intro__atmosphere {
    &-img {
      margin: 180px 0 200px 0;
      margin-left: auto;
    }
  }
}



/* 

  SECTION FEEDBACK 

*/ 


.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;

  &__heading {
    padding: 20px 0 50px 0;
    font-weight: 200;
    line-height: 30px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    & span {
      color: rgb(156, 78, 143);
    }
  }

  &__img {
    display: block;
    height: auto; 
    width: 100%;
    max-width: 400px;
  }

  &__text {
    padding: 20px;
    line-height: 25px;
    background-color: rgb(255, 248, 248);
  
    &-description {
      opacity: .5;
    }

    &-author {
      text-align: right;
    
      &-link {
        text-decoration: none;
        letter-spacing: 1px;
        color:  rgb(150, 71, 137);
        border-bottom: 1.8px solid rgba(179, 137, 137, 0.089);
        transition: .2s all ease-in;
        cursor: pointer;

        &:hover {
          border-bottom: 1.8px solid rgb(192, 143, 183);
        }
      }
    }
  }


}
@media (min-width: 440px) {

  .feedback {
    position: relative;

    &__img {
      margin-bottom: 200px;
    }

    &__text {
      position: absolute;
      bottom: 100px;
      max-width: 300px;
      padding-top: 60px;
      text-align: start;
      line-height: 25px;
      box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.15);
    }
  }

  .direction-right {
   right: 0;
  }

  .direction-left {
    left: 0;
  }
}

@media (min-width: 738px) {
  .feedback {
    &__heading {
      margin-top: 250px;
    }
    &__text {
      max-width: 400px;
    }
  }
}

@media (min-width: 1024px) {
  .feedback {
    &__text {
      max-width: 500px;
    }
  }
}


/* 

  BUTTON 

*/

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.btn {
  // appearance: none;
  min-width: 100px;
  border: 1px solid transparent;
  // padding: 8px 20px 12px 20px;
  padding: 14px 20px 10px 20px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s;
	position: relative;
  

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
    opacity: 0;
    transition: all .3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    transform: scale(0.1, 1);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all .3s;
  }

  &:hover {
    letter-spacing: 4px;
    cursor: pointer;

    &::before {
      opacity: 1;
      transform: scale(1, 1);
    }

    &::after {
      opacity: 0;
      transform: scale(0.1, 1);
    }
  }
}


 /* btn primary */

.btn-primary {
  margin-top: 24px;
  color: rgb(56, 51, 51);

  &::before {
    border-top-color: rgba(56, 51, 51, 0.5);
    border-bottom-color: rgba(56, 51, 51, 0.5);
  }
  
  &::after {
    background-color: rgba(104, 94, 94, 0.1);
  }
}