html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*, ::before, ::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: "Josefin Sans", "Arial", sans-serif;
}

/*

  NAVIGATION

*/
.hero-container {
  min-height: 100vh;
  background-image: url(../images/min-sr1.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

.hero-container::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(29, 37, 37, 0.911);
  opacity: .4;
  z-index: -1;
}

/*

  HAMBURGER

*/
.hamburger {
  width: 45px;
  height: 45px;
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: rgba(90, 83, 83, 0.233);
}

.hamburger-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 10px;
  left: 0;
  width: 100%;
  height: 30px;
  position: relative;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 28px;
  height: 3px;
  background-color: #bf9660;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner {
  -webkit-transition-duration: 0.13s;
          transition-duration: 0.13s;
  -webkit-transition-delay: 0.13s;
          transition-delay: 0.13s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger-inner::before {
  content: "";
  display: block;
  top: -10px;
  left: 0;
  -webkit-transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger-inner::after {
  content: "";
  display: block;
  top: -20px;
  left: 0;
  -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.js-active .hamburger-inner {
  -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
          transform: translate3d(0, -10px, 0) rotate(-45deg);
  -webkit-transition-delay: 0.22s;
          transition-delay: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.js-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.js-active .hamburger-inner::before {
  top: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.js-active .hamburger-inner {
  opacity: 0.7;
}

.nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  width: 100%;
  padding: 10px;
  background-color: #302b2bee;
  z-index: 999;
}

.nav__logo {
  max-width: 120px;
  text-align: center;
}

.nav__logo-img {
  height: auto;
  width: 100%;
}

.nav__list {
  position: absolute;
  margin: 0;
  top: 10vh;
  right: 0;
  width: 50%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .5s ease-in;
  transition: -webkit-transform .5s ease-in;
  transition: transform .5s ease-in;
  transition: transform .5s ease-in, -webkit-transform .5s ease-in;
  background-color: #302b2bee;
}

.nav__item {
  list-style: none;
  padding: 20px 10px;
}

.nav__link {
  color: rgba(255, 255, 255, 0.805);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 700;
  opacity: 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.nav__link:hover {
  color: #bf9660;
}

.nav__list--open {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.nav__list--close {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

@-webkit-keyframes linksFade {
  from {
    opacity: 0;
    -webkit-transition: translateX(50px);
    transition: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes linksFade {
  from {
    opacity: 0;
    -webkit-transition: translateX(50px);
    transition: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media (min-width: 768px) {
  .nav__list {
    top: 0;
    height: 10vh;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px 0 20px;
  }
  .nav__link {
    opacity: 1;
  }
  .hamburger {
    display: none;
  }
}

@media (min-width: 1024px) {
  .nav__logo {
    max-width: 150px;
  }
  .nav__list {
    width: 100%;
  }
}

/*

  HEADER ----> HERO

*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.header__heading {
  position: absolute;
  bottom: 100px;
  opacity: .8;
  text-align: center;
}

.header__heading-main {
  letter-spacing: 2px;
  word-spacing: 4px;
}

.header__heading-sub {
  display: block;
  padding-top: 20px;
  font-size: .6em;
  font-weight: normal;
}

@media (min-width: 640px) {
  .header__heading-main {
    font-size: 1.5em;
  }
}

@media (min-width: 1024px) {
  .header__heading-main {
    font-size: 1.8em;
  }
  .header__heading-sub {
    font-size: .8em;
  }
}

/* 

  MAIN CONTENT

  SECTION INTRO 

*/
.main-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px 0 24px;
}

.intro__passion-img, .intro__atmosphere-img {
  width: 100%;
  max-width: 770px;
  z-index: -1;
}

.intro__passion__text, .intro__atmosphere__text {
  margin: auto;
  max-width: 541px;
  line-height: 25px;
  text-align: center;
}

.intro__passion__text-heading, .intro__atmosphere__text-heading {
  padding: 50px 0 20px 0;
  font-weight: 200;
  line-height: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.intro__passion__text-heading span, .intro__atmosphere__text-heading span {
  color: #9c4e8f;
}

.intro__passion__text-description, .intro__atmosphere__text-description {
  padding-bottom: 50px;
  opacity: .5;
}

@media (min-width: 540px) {
  .intro__passion,
  .intro__atmosphere {
    position: relative;
  }
  .intro__passion-img,
  .intro__atmosphere-img {
    display: block;
    margin-top: 120px;
    margin-left: auto;
  }
  .intro__passion__text,
  .intro__atmosphere__text {
    position: absolute;
    bottom: -200px;
    left: 0;
    padding: 0 40px 0 96px;
    text-align: start;
    background-color: #fff;
  }
  .intro__atmosphere-img {
    margin: 180px 0 200px 0;
    margin-left: auto;
  }
}

/* 

  SECTION FEEDBACK 

*/
.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.feedback__heading {
  padding: 20px 0 50px 0;
  font-weight: 200;
  line-height: 30px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.feedback__heading span {
  color: #9c4e8f;
}

.feedback__img {
  display: block;
  height: auto;
  width: 100%;
  max-width: 400px;
}

.feedback__text {
  padding: 20px;
  line-height: 25px;
  background-color: #fff8f8;
}

.feedback__text-description {
  opacity: .5;
}

.feedback__text-author {
  text-align: right;
}

.feedback__text-author-link {
  text-decoration: none;
  letter-spacing: 1px;
  color: #964789;
  border-bottom: 1.8px solid rgba(179, 137, 137, 0.089);
  -webkit-transition: .2s all ease-in;
  transition: .2s all ease-in;
  cursor: pointer;
}

.feedback__text-author-link:hover {
  border-bottom: 1.8px solid #c08fb7;
}

@media (min-width: 440px) {
  .feedback {
    position: relative;
  }
  .feedback__img {
    margin-bottom: 200px;
  }
  .feedback__text {
    position: absolute;
    bottom: 100px;
    max-width: 300px;
    padding-top: 60px;
    text-align: start;
    line-height: 25px;
    -webkit-box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.15);
            box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.15);
  }
  .direction-right {
    right: 0;
  }
  .direction-left {
    left: 0;
  }
}

@media (min-width: 738px) {
  .feedback__heading {
    margin-top: 250px;
  }
  .feedback__text {
    max-width: 400px;
  }
}

@media (min-width: 1024px) {
  .feedback__text {
    max-width: 500px;
  }
}

/* 

  BUTTON 

*/
.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.btn {
  min-width: 100px;
  border: 1px solid transparent;
  padding: 14px 20px 10px 20px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.btn::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 12;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  -webkit-transform: scale(0.1, 1);
          transform: scale(0.1, 1);
}

.btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn:hover {
  letter-spacing: 4px;
  cursor: pointer;
}

.btn:hover::before {
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.btn:hover::after {
  opacity: 0;
  -webkit-transform: scale(0.1, 1);
          transform: scale(0.1, 1);
}

/* btn primary */
.btn-primary {
  margin-top: 24px;
  color: #383333;
}

.btn-primary::before {
  border-top-color: rgba(56, 51, 51, 0.5);
  border-bottom-color: rgba(56, 51, 51, 0.5);
}

.btn-primary::after {
  background-color: rgba(104, 94, 94, 0.1);
}
/*# sourceMappingURL=style.css.map */