.switcher-container {
  max-width: 100px;
}

.switcher {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__checkbox {
    opacity: 0;
  }

  &__label {
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 28px;
    width: 28px;
    transform: scale(1.2);
    border: 1px solid var(--switcher-text);

    &-circle {
      background-color: var(--switcher-bgc);
      border-radius: 50%;
      position: absolute;
      top: 1.8;
      left: 2px;
      height: 22px;
      width: 22px;
      border: 1px solid var(--switcher-text);
    }
  }

  &__text {
    color: var(--switcher-text);
    text-align: center;
  }
}
