$color-light-mode: rgb(248, 248, 248);
$bgc-light-mode-300: rgb(247, 236, 236);
$color-text-light-mode: rgb(100, 88, 88);

$color-dark-mode-brighter: #5c4747;
$color-dark-mode: #2c2323;
$color-text-dark-mode: rgba(204, 192, 192, 0.952);

$color-overlay: hsla(180, 12%, 13%, 0.911);
$color-panel: #302b2bf5;
$grey-100: rgba(255, 255, 255, 0.805);
$grey-600: rgba(48, 47, 47, 0.25);
$grey-500: rgba(90, 83, 83, 0.233);
$accent-color-primary: #bf9660;
$accent-color-secondary: rgb(156, 78, 143);

$base-font: "Josefin Sans", "Arial", sans-serif;
