$color-alabaster: #f8f8f8;
$color-dawnPink: #f7ecec;
$color-zambezi: #645858;
$color-donJuan-alfa: #5c4747;
$color-thunder: #2c2323;
$color-silverRust: rgba(204, 192, 192, 0.952);
$color-darkBrown: #302b2bf5;
$grey-100: rgba(255, 255, 255, 0.805);
$grey-600: rgba(48, 47, 47, 0.25);
$grey-500: rgba(90, 83, 83, 0.233);
$accent-gold: #bf9660;
$accent-violet: rgb(156, 78, 143);

$color-overlay: hsla(180, 12%, 13%, 0.911);

$base-font: "Josefin Sans", "Arial", sans-serif;
